.App {
  text-align: center;
  background-color: rgb(205, 169, 240);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header"
    "nav"
    "content";
  min-height: 100vh;
}

.Header {
  background-color: cadetblue;
}

.Nav {
  background-color: crimson;
}

li {
  list-style: none;
}
